@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ..... header section start hare ..... */

.hader{
    width: 100%;
    background-color: #EAAD00;
}

.hader-container{
    width: 1200px;
    background-color: #EAAD00;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hader-logo{
    cursor: pointer;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

.heder-menu .menu{
    display: flex;
}

.heder-menu .menu li a{
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    font-weight: 500;
    color: #FFFFFF;
}

.search-fild{
    height: 50px;
    width: 270px;
    padding: o 10px;
    background-color: #FFC400;
    padding: 0 10px;
    border: none;
}

.search-fild::placeholder{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.search-item{
    position: relative;
}

.search-btn{
    height: 50px;
    width: 70px;
    background-color: #00BFCB;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon{
    font-size: 24px;
    color: #FFFFFF;
}

/* ..... banner section start hare ..... */

.banner-section{
    width: 100%;
    background-color: #FFC400;
}

.banner-section .container{
    width: 1200px;
    padding: 25px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 110px;
}

.banner-text-content h1{
    font-family: 'Poppins', sans-serif;
    font-size: 66px;
    font-weight: 600;
    color: white;
    line-height: 74px;
    margin-bottom: 40px;
    padding-right: 60px;
}

.banner-text-content{
    max-width: 700px;
}

.banner-text-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.banner-btn-group a{
    font-size: 24px;
    color: #fff;
    display: inline-block;
    padding: 24px 34px;
    border-radius: 8px;
}

.banner-btn-group a:first-child{
    background-color: #00BFCB;
    margin-right: 34px;
}

.banner-btn-group a:last-child{
    background-color: #FFC400;
    border: 3px solid #fff;
}

.banner-image{
    max-width: 450px;
}

.banner-image-img{
    width: 100%;
}

/* ..... Animal Care Section ..... */

.animal-care{
    width: 100%;
}

.animal-care .container{
    width: 1200px;
    padding: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.animal-text-content{
    max-width: 60%;
}

.animal-text-content h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    margin-top: 72px;
    margin-bottom: 18px;
    padding-right: 100px;
}

.animal-text-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    font-weight: 400;
    margin-bottom: 18px;
    padding-right: 150px;
}

.animal-care-btn a{
    font-size: 24px;
    color: white;
    background-color: #FFC400;
    padding: 24px 34px;
    display: inline-block;
    border-radius: 8px;
}


.animal-care-image{
    max-width: 40%;
}

.animal-care-image img{
    width: 100%;
    margin-top: 0.480in;
}

/* ..... dog care section ..... */

.dog-care{
    width: 100%;
    background-color: #FFC400;
}

.dog-care-text{
    width: 1200px;
}

.dog-care-text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    font-weight: bold;
    color: #fff;
    padding-top: 100px;
    text-align: center;
}

.dog-care-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 95px;
    text-align: center;
    padding-right: 150px;
    padding-left: 150px;
}

.dog-care .container{
    width: 1200px;
    padding: 25px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    color: #fff;
}

.container .box1 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    margin-top: 55px;
    text-align: center;
    padding-right: 40px;

}

.container .box1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 100px;
}

.container .box2 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    margin-top: 55px;
    padding-right: 40px;


}

.container .box2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 100px;
}

.container .box3 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    margin-top: 55px;
    padding-right: 40px;


}

.container .box3 p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 100px;
}

/* ..... Animal love Section ..... */

.animal-love{
    width: 100%;
}

.animal-love .container{
    width: 1200px;
    padding: 25px;
    margin: 0 auto;
    display: flex;
}
.animal-image{
    margin-right: 60px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.animal-love-image img{
    width: 100%;
}

.animal-text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 55px;
    text-align: right;
    margin-top: 200px;
    margin-bottom: 50px;
}

.animal-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: right;
    margin-bottom: 50px;
}

.animal-love-btn a{
    font-size: 24px;
    color: white;
    background-color: #FFC400;
    padding: 24px 34px;
    display: inline-block;
    border-radius: 8px;
}

.animal-love-btn{
    padding-left: 370px;
}

/* ..... offer section ..... */

.offer-section{
    width: 100%;
    background-color: #FFC400;
}

.ofeer-text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 110px;
    margin-bottom: 50px;
}

.ofeer-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding-right: 250px;
    padding-left: 250px;
    margin-bottom: 100px;
}

.offer-section .container{
    width: 1150px;
    display: flex;
    margin: 0 auto;
}

.container .image1{
    float: right;
}

.container .image2{
    margin: 0 auto;
}
.container .image3{
    float: left;
}

.container .text1{
    font-family: 'Poppins', sans-serif;
    font-size: 41px;
    font-weight: 600;
    color: #fff;
    display: inline;
    padding-left: 90px;
    text-decoration-line: line-through;
}

.container .text2{
    font-family: 'Poppins', sans-serif;
    font-size: 41px;
    font-weight: 600;
    color: #fff;
    display: inline;
    padding-left: 35px;
}

.container a{
    height: 50px;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    display: block;
    color: #fff;
    background-color: #00BFCB;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    margin-bottom: 100px;
    margin-top: 30px;
}

/* ..... doctor section ..... */

.doctor-sec{
    width: 100%;
}

.doctor-text{
    padding-right: 250px;
    padding-left: 250px;
}

.doctor-text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    padding-top: 145px;
    margin-bottom: 60px;
}

.doctor-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 100px;
}

.doctor-sec .container{
    width: 1150px;
    display: flex;
    margin: 0 auto;
}

.container .box-a{
    float: left;
}

.container .box-b{
    margin: 0 auto;
}

.container .box-c{
    float: right;
}

.container .box-a h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.container .box-b h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}
.container .box-c h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.container .box-a h3{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.container .box-b h3{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.container .box-c h3{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.many-btn{
    font-size: 40px;
    color: #EAAD00;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 140px;
}


/* ..... image banner section ..... */

.image-banner{
    height: 575px;
    width: 100%;
    background-image: url(background.png);
}
.image-banner .container{
    width: 1000px;
    display: flex;
    margin: 0 auto;
}

.container .logo1{
    font-size: 100px;
    color: #fff;
    float: left;
    margin-top: 150px;
}

.container .logo2{
    font-size: 100px;
    color: #fff;
    margin: 0 auto;
    margin-top: 150px;
}

.container .logo3{
    font-size: 100px;
    color: #fff;
    float: right;
    margin-top: 150px;
}

.image-banner .container2{
    width: 1200px;
    padding: 25px;
    display: flex;
    margin: 0 auto;
}

.container2 .logo1-text{
    float: left;
}

.container2 .logo2-text{
    margin: 0 auto;
}

.container2 .logo3-text{
    float: right;
}

.container2 .logo1-text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.container2 .logo2-text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.container2 .logo3-text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.container2 .logo1-text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    font-weight: bold;
    color: #fff;
}

.container2 .logo2-text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    font-weight: bold;
    color: #fff;
}

.container2 .logo3-text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    font-weight: bold;
    color: #fff;
}